body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer{
    background-color: rgb(68, 0, 107);
    text-align: center;
}

.site-title{
    color: white;
}

#my-image{
    box-shadow: 0px 0px 2px 1px black;
}

#hobbies{
    list-style-type: square;
}

#hobbies li:nth-child(odd){
        background-color: rgb(68, 0, 107);
        color: white;
}